<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Je to pes nebo kočka?</title>
</head>
<body>
    <h1>Je to pes nebo kočka?</h1>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Odeslat">
    </form>
    {% if prediction %}
    <h2>{{ prediction }}</h2>
    {% endif %}
</body>
</html>
